@import "tailwindcss";

:root {
  /* --color-primary: #030213; */
  --color-secondary: oklch(0.95 0.0058 264.53);
  --color-background: #ffffff;
  --color-foreground: #030213;

  --color-muted: #f4f4f7;
  --color-border: #e5e7eb;
  --color-card: #fafafa;
}

[data-theme="dark"] {
  --color-primary: #d9d9ff;
  --color-secondary: oklch(0.3 0.0058 264.53);
  --color-background: #0b0f1a;
  --color-foreground: #e6eef8;
}

@theme inline {
  /* --color-primary: #030213; */
  --color-secondary: oklch(0.95 0.0058 264.53);
  --color-background: #ffffff;
  --color-foreground: #030213;

  --color-muted: #f4f4f7;
  --color-border: #e5e7eb;
  --color-card: #fafafa;
  --font-sans: var(--font-ibm-plex-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
  /* font-family: var(--font-ibm-plex-sans), sans-serif; */
}
