@import "tailwindcss";

:root {
  /* --color-primary: #030213; */
  --color-secondary: oklch(0.95 0.0058 264.53);
  --color-background: #ffffff;
  --color-foreground: #030213;
  --color-foreground-hover: #1a1a2b;

  --color-muted: #ececf0;
  --color-muted-foreground: #717182;
  --color-border: #e5e7eb;
  --color-card: #fafafa;
}

[data-theme="dark"] {
  --color-primary: #d9d9ff;
  --color-secondary: oklch(0.3 0.0058 264.53);
  --color-background: #0b0f1a;
  --color-foreground: #e6eef8;
}

@theme inline {
  /* --color-primary: #030213; */
  --color-secondary: var(--color-secondary);
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
  --color-foreground-hover: var(--color-foreground-hover);

  --color-muted: var(--color-muted);
  --color-muted-foreground: var(--color-muted-foreground);
  --color-border: var(--color-border);
  --color-card: var(--color-card);
  --font-sans: var(--font-ibm-plex-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--color-background); */
  background: #fdfbf7;
  color: var(--color-foreground);
  font-family: var(--font-sans), sans-serif;
  /* font-family: var(--font-ibm-plex-sans), sans-serif; */
}

/* hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
